/* Styles */

/* spacing and positioning */
.padding-40px {
  padding: 40px;
}

.margin-top-50px {
  margin-top: 50px;
}

.margin-bottom-20px {
  margin-bottom: 20px; 
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.grid-center {
  display: grid;
  place-items: center;
}